
.card{
  padding: 20px 30px;
  margin-bottom: 20px;
  background-color: #f7f7f7;
  @include border-radius(4px);

  @media (max-width: $width-medium) {
      padding: 20px 25px;
  }

  &.serif{
    h2{
      font-family: $tisa;
    }
    p{
        font-family: $tisa;
    }
  }

  &.color-coded{
    h2{
      color: $gop;
    }
    border-bottom: 6px solid $gop;

    &.dem{
      h2{
        color: $dem;
      }
      border-bottom: 6px solid $dem;
    }
  }

  h2{
    font-size: 1.4rem;
    &.border-bottom{
      border-bottom: solid 3px #dddddd;
      padding-bottom: 6px;
      margin-bottom: 12px;
    }
    & + p{
      padding-top: 5px;
    }
  }

  h6{
    font-size: .8rem;
    text-align:left;
    font-weight: 700;
    margin: 1rem 0 0 0;
  }

  h3 + p:first-of-type{
    margin-top: 0;
  }
  p{
    font-size: .9rem;
    line-height: 1.5em;
    font-family: $proxima;

    &:first-of-type{
      margin-top: .1rem;
    }
    &:last-of-type{
      margin-bottom: 1rem;
    }
  }
}
