section.credits {
  p {
    border-top: 1px solid $light-gray;
    color: $satan;
    font-family: $proxima;
    font-size: .9em;
    margin-top: 3em;
    padding-top: 1em;

    a:hover {
      text-decoration: underline;
    }
  }
}
