.clear {
  clear: both;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

article{
  margin-bottom: 2em;
}

body {
  color: $black;
  font-family: $tisa;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

.content-fit{
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

a{
  color: #0a7cc4;
  &:hover, &:focus {
    color: #0e9af3;
  }
}

a,
a::before,
a::after,
button {
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

.center-align-text{
  text-align: center;
}

.left-align-text{
  text-align: left;
}

.right-align-text{
  text-align: right;
}

p {
  font-family: $tisa;
  font-size: 1.2em;
  line-height: 1.618em;
  margin: 1.618em auto;
  max-width: 600px;
  overflow-wrap: break-word;

  @media (max-width: $width-medium) {
    font-size: 1.2em;
  }
}

h2,
h3,
h4,
h5 {
  font-family: $jubilat;
  font-weight: 600;
  max-width: 600px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;

  &.full-width{
    max-width: 100%;
  }
  &.large{
    max-width: 800px;
  }
}


h2{
  @include julibat-light;
}

h2 + p,
h3 + p,
h4 + p {
  margin-top: .1em;
}


.graphic h2,
.graphic h3,
.graphic h4,
.graphic h5 {
  font-family: $proxima;
}


// Sections
  article section {
  margin: 0 auto;
  max-width: 600px;
  padding: 1.25em 0;

  p:last-of-type{
    margin-bottom: 0;
  }

  figure + p{
      margin-top: 10px;
  }

  h3, h4, h5 {

    + figure {
      margin-top: 10px;
    }
  }

  &.full-width{
    max-width: 100%;
  }

  &.large{
    max-width: 800px;
  }
}

//credits
p.credits{
  font-family: $proxima;
  font-size: .9em;
  margin-top: 3em;
  padding-top: 1em;
  border-top: 1px solid $light-gray;
  color: $satan;
}

p.credits a:hover{
  text-decoration: underline;
}
