.clear {
  clear: both;
}

html {
  height: 100%;
  box-sizing: border-box;
  font-size: 18px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

article{
  margin-bottom: 2em;
}

body {
  color: $black;
  font-family: $tisa;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-size: 1rem;
  line-height: 1.5;
}

a{
  color: #0a7cc4;
  &:hover, &:focus {
    color: #0e9af3;
  }
}

a,
a::before,
a::after,
button {
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}


// Aligning text
.text-align-center{
  text-align: center;
}

.text-align-left{
  text-align: left;
}

.text-align-right{
  text-align: right;
}


// Manipulating the text

.sans{
font-family: $proxima;
}

.serif{
font-family: $tisa;
}

.bold{
font-weight: 700;
}

.unbold{
font-weight: 500;
}

.italic{
text-style: italic;
}

.uppercase{
text-transform: uppercase;
}

.highlight {
background-color: $highlighter-yellow;
box-shadow: 0.2rem 0 0 #fff7a5, -0.2rem 0 0 $highlighter-yellow;
margin: auto 2px;
}

// Paragraphs
p {
  font-family: $tisa;
  font-size: 1.15rem;
  line-height: 1.618;
  margin: 1.8rem auto;
  max-width: 575px;
  overflow-wrap: break-word;

  &.small{
    font-size: .9rem;
}

// Using a sans font
  &.sans{
    font-size: 1.15em;
    line-height: 1.45em;

    &.small{
      font-size: .9rem;
      line-height: 1.5em;
    }

    @media (max-width: $width-medium) {
      font-size: 1.05em;
    }

  }

  @media (max-width: $width-medium) {
    font-size: 1.05em;
  }

// The dropcap
  span.dropcap {
    float: left;
    font-size: 5rem;
    line-height: 0.85;
    font-family: $tablet;
    margin: 0.225rem 0.525rem 0 0;
    color: $black;
    text-transform: uppercase;

    @media (max-width: $width-small){
      font-size: 4rem;
    }
   }
}

// Header groups
h2,
h3,
h4,
h5,
h6 {
  font-family: $proxima;
  margin: 0 auto 3px;
  max-width: 100%;
  text-align: center;
  font-weight: 300;

  + p {
    margin-top: 0px;
  }
}

h2 {
  font-size: 1.68rem;
  line-height: 1.2;
  font-weight: 700;

  &.serif{
      font-family: $tisa;
      font-size: 1.52rem;
      @media (max-width: $width-medium) {
          font-size: 1.48rem;
      }
  }
  @media (max-width: $width-medium) {
      font-size: 1.48rem;
  }
}

h3 {
  font-size: 1.35rem;
  line-height: 1.2;
  &.serif{
      font-family: $tisa;
      font-size: 1.45rem;
  }
}

h4 {
  font-size: 1.05rem;
  line-height: 1.3;
}

h5 {
  font-size: 0.7rem;
  line-height: 1.3;
  text-transform: uppercase;
  font-weight: 500;
}

h6 {
  font-size: 0.85rem;
  line-height: 1.3;
}

h2 + h3{
  margin-top: 10px;
}


p + h2{padding-top:.5rem;}


p + h3{padding-top:.5rem;}

p + h4{padding-top:.5rem;}


// lists
ul.no-bullets{
  li{
    list-style: none;
  }
  &.no-indent{
        -webkit-margin-before: 0;
        -webkit-padding-start: 0px;
  }
  &.border{
    li{
    border-top: 1px solid #ddd;
    padding: 10px 0;
    }
  }
}
