$proxima: 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$tisa: 'ff-tisa-web-pro', Georgia, Times, 'Times New Roman', serif;
$tablet: 'tablet-gothic-condensed', 'Arial Narrow', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$jubilat: 'jubilat', Georgia, Times, 'Times New Roman', serif;

.sans {
  font-family: $proxima;
  font-weight: 500;
}

.sans-bold {
  font-family: $proxima;
  font-weight: 700;
}

.jubilat {
  font-family: $jubilat;
  font-weight: 700;
}

@mixin julibat-light{
  font-family: $jubilat;
  font-weight: 200;
}
