.key{
  font-family: $proxima;
  font-size: .8rem;
  padding-right: 3px;
  margin: 10px auto;
  width: auto;
  // uncomment this to get your key to align center
  // text-align: center;

  span{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    margin: 0 2px 0 5px;

    &:first-of-type{
      margin-left: 0;
    }

    &.dem{
      background-color: $dem;
    }
    &.gop{
      background-color: $gop;
    }
    &.teal{
      background-color: $teal;
    }
  }

}
