#global-header {
  @include clearfix;
  background: $politico-red;

  #global-header, ul {
    @include clearfix;
  }

  .icon-politico {
    font-size: 16px;
    line-height: 46px;
    margin-left: .7em;
  }

  a {
    color: $white;

      &:hover, &:focus{
        text-decoration: none;
        opacity: .8;
      }
    }

  #global-branding {
    float: left;
  }

  #nav-micro {
    float: right;

    .icon.icon-pro-small-bold {
      font-size: 1em;
      line-height: 2.29166666666667em;
      padding: 0 .3125em;
    }

    ul {
      list-style: none;
      margin-bottom: 1px;
      padding-bottom: 0;

      li{
        float:left;
      }

      li > a {
        background: $politico-red;
        border-left: 1px solid $politico-dark-red;
        display: block;
        font-family: $tablet;
        font-weight: 700;
        line-height: 45px;
        min-width: 2.5em;
        padding: 0 .9375em;
        position: relative;
        text-align: center;
      }
    }
  }
}

//Light Theme
.light-theme {
  #global-header {
    background: $white;
    border-bottom: 0;
  }

  #global-header a, #global-footer a  {
    color: $politico-red;
  }

  #global-header.icon , nav .icon {
  color: $politico-red;
  }

  .micro-list>li>a {
  background: $white;
  border: 0;
  }
}
