<h4 class="mb1 light">Breakpoints - we use min-width <span class="small lightest"></h4>
<table class="table table-bordered content-fit">
<thead>
    <tr>
        <th>Name</th>
        <th>Range</th>
    </tr>
</thead>
<tbody>
  <tr>
      <td><code>min-width-xs</code></td>
      <td>min-width 350px</td>
  </tr>
  <tr>
      <td><code>min-width-sm</code></td>
      <td>min-width 576px</td>
  </tr>
  <tr>
      <td><code>min-width-md</code></td>
      <td>min-width 768px</td>
  </tr>
  <tr>
      <td><code>min-width-lg</code></td>
      <td>min-width 992px</td>
  </tr>
  <tr>
      <td><code>min-width-xl</code></td>
      <td>min-width 1200px</td>
  </tr>
</tbody>
</table>
