<header class="center">
  <div class="share">
    <a href="" class="bt-icon custom-icon--facebook" target="_blank">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="14" height="14" fill="white" viewBox="0 0 15 15">
        <path d="M9.229 15.988h-3.305v-7.989h-1.652v-2.754h1.652v-1.653c0-2.246 0.932-3.582 3.581-3.582h2.206v2.754h-1.378c-1.031 0-1.1 0.385-1.1 1.103l-0.004 1.378h2.498l-0.292 2.754h-2.206v7.989z"></path>
        </svg>
    </a>
    <a href="" class="bt-icon bt-icon--twitter" target="_blank"></a>
    <a href="" class="bt-icon bt-icon--mail" target="_blank"></a>
  </div>

  <p class="category">
      <a href="https://www.politico.com/news/politics" target="_blank">Politics</a>
  </p>
  <h1>
    {{META.header.headline}}
  </h1>
  <p class="subhead">
    {{META.header.subhed}}
  </p>
  <div class="info">
    <p>
        By <span class="byline"><a href="{{META.header.byline_link}}">{{META.header.byline}}</a></span></span> | <span class="timestamp"> <time datetime="{{META.timestamp}}">{{META.dateline}}</time></span>
    </p>
  </div>
</header>
