<nav title="navigation" class="global">
<div id="global-header">
  <div id="header-contents">
    <div id="global-branding">
       <a class="navbar-brand" href="https://www.politico.com/" title="POLITICO" target="_top">
         <span class="bt-icon bt-icon--politico"></span>
       </a>
    </div>

    <nav id="nav-micro" role="home">
      <div class="header-content">
          <div class="header-left">
            <a href="https://www.politico.com">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="20px" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><path d="M79.5,81.458h-57V41.27L51,16.729L79.5,41.27V81.458z M25.5,78.458h51V42.646L51,20.688L25.5,42.646V78.458z"></path>
              </svg>
            </a>
          </div>

          <div class="header-right">
            <ul class="micro-list">
                <li class="subnav d-none d-sm-block"><a href="https://www.politico.com/magazine/" target="_top">Mag<span class="d-sm-none d-md-none">azine</span></a></li>
                <li class="subnav d-none d-sm-block"><a href="https://www.politico.com/agenda/" target="_top"><span class="d-sm-none">The</span> Agenda</a></li>
                <li class="subnav"><a href="https://www.politicopro.com" target="_top">PRO</a></li>
            </ul>
          </div>
      </div>
      </nav>
  </div>
</div>
</nav>
