<link rel="shortcut icon" type="image/x-icon" href="http://static.politico.com/cf/05/ee684a274496b04fa20ba2978da1/politico.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://static.politico.com/dims4/default/9d80474/2147483647/legacy_thumbnail/144x144/quality/90/?url=http%3A%2F%2Fstatic.politico.com%2Fcf%2F05%2Fee684a274496b04fa20ba2978da1%2Fpolitico.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://static.politico.com/dims4/default/ae63e1f/2147483647/legacy_thumbnail/114x114/quality/90/?url=http%3A%2F%2Fstatic.politico.com%2Fcf%2F05%2Fee684a274496b04fa20ba2978da1%2Fpolitico.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://static.politico.com/dims4/default/b9a28c5/2147483647/legacy_thumbnail/72x72/quality/90/?url=http%3A%2F%2Fstatic.politico.com%2Fcf%2F05%2Fee684a274496b04fa20ba2978da1%2Fpolitico.png">
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://static.politico.com/dims4/default/b61d6ee/2147483647/legacy_thumbnail/57x57/quality/90/?url=http%3A%2F%2Fstatic.politico.com%2Fcf%2F05%2Fee684a274496b04fa20ba2978da1%2Fpolitico.png">
<link rel="apple-touch-icon" sizes="60x60" href="http://www.politico.com/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="http://www.politico.com/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="http://www.politico.com/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="http://www.politico.com/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="http://www.politico.com/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="http://www.politico.com/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="http://www.politico.com/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="http://www.politico.com/apple-touch-icon-180x180.png">
<link rel="icon" sizes="32x32" type="image/png" href="http://www.politico.com/favicon-32x32.png">
<link rel="icon" sizes="192x192" type="image/png" href="http://www.politico.com/android-chrome-192x192.png">
<link rel="icon" sizes="96x96" type="image/png" href="http://www.politico.com/favicon-96x96.png">
<link rel="icon" sizes="16x16" type="image/png" href="http://www.politico.com/favicon-16x16.png">
<link rel="manifest" href="http://www.politico.com/manifest.json">
<link rel="mask-icon" href="http://www.politico.com/safari-pinned-tab.svg" color="#5bbad5">
<meta msapplication-TileColor="content">
<meta msapplication-TileImage="content">
<meta theme-color="content">
