<script type="text/javascript">
(function(a,b,c,d){
a='//tags.tiqcdn.com/utag/politico/main/prod/utag.js';
b=document;c='script';d=b.createElement(c);d.src=a;
d.type='text/java'+c;
d.async=true;
a=b.getElementsByTagName(c)[0];a.parentNode.insertBefore(d,a)
})();
var utag_data = {
 "page_level_1":"interactives",
 "free_paid_content":"{{META.telium.free_paid_content}}",
 "site_section":"{{META.telium.site_section}}",
 "ad_unit_section":"{{META.telium.ad_unit_section}}",
 "page_type":"interactives",
 "content_author":"{{META.telium.content_author}}",
 "content_byline":"{{META.telium.content_byline}}",
 "site_domain":"www.politico.com",
 "internal_site_id":"politico",
 "page_name":"{{META.telium.page_name}}",
};
</script>
